# Python
uv.lock

# Environment
.venv
.env

# IDE
.idea
http-client.private.env.json

# Specific
S01E03/sessions
S03E01/sensors.zip
S03E01/sensors
S04E04/natan_notes.zip
S04E04/notes
S05E01/messages.json
S05E02/waves
